
body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particlesjs-config.json container ---- */
#particles-js {
    position: absolute;
    width: 100%; /* Ensure full width */
    height: 100%; /* Ensure full height */
    z-index: -1; /* Ensure it is behind other content */
    background-color: #b61924; /* Example background color */
    background-image: url(""); /* If you have a specific image */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* create card*/
.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
    width: 350px;
    text-align: center;
    position: relative; /* Ensure card is positioned relative */
    z-index: 1; /* Ensure card is above particles */
}

/* centering form*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > label {
    margin: 12px 0; /* top and bottom only */
    display: block;
    font-weight: bold;
  }


/* input fields */
input {
    width: 80%;              /* Adjust width to center better */
    max-width: 300px;        /* Prevent them from getting too wide */
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;      /*center the text inside the boxes */
}


/* log in button*/
button {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}
/* hover over log in button*/
button:hover {
    background-color: rgb(192, 4, 4);
}

p {
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

.error, .success {
    font-size: 14px;
    margin-top: 10px;
}

.fade-box { /*Redirect screen after registering*/
    display: none;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 1s ease-in;
}
.fade-box.show {
    display: block;
    opacity: 1;
}
